
* {
    box-sizing: border-box;
}

html {
    font-size: calc(1em + 1vw);
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "topp" "Hovedomraade" "Fot";
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #817f7f60;
    max-width: 1400px;
}

.logo-btn {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

header {
    padding: 1rem 0.5rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
    font-size: small;
}

.produkt-container {
    text-align: center;
}

.produkt-bilde {
    background-color: #262626;
    color: #fff;
    min-width: 250px;
    height: 250px;
    text-align: center;
    text-decoration: none;
    line-height: 250px;
    margin: 0.5rem;
    border-radius: 2rem;
}

.flexbox-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.hdb-btn {
    background-color: #262626;
    color: #fff;
    min-width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    margin: 0.5rem;
    flex-grow: 1;
}

.flexbox-container2 {
    display: flex;
    justify-content: center;
}

.flexbox-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.venstre-knapper, .høyre-knapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.kjente-merker-btn {
    background-color: #262626;
    color: #fff;
    min-width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    margin: 0.2rem;
    border-radius: 10px;
    flex-grow: 1;
}

@media only screen and (min-width: 600px) {
    .hdb-btn {
        min-width: 300px;
        min-height: 100px;
        border-radius: 10px;
        line-height: 100px;
        flex-direction: row;
    }

    .flexbox-container1 {
        flex-direction: row;
    }

    .kjente-merker-btn {
        min-width: 250px;
        min-height: 50px;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        grid-column: 1 / span 4;
    }

    main {
        grid-column: 2 / span 1;
    }

    footer {
        grid-column: 2 / span 1;
    }

    .flexbox-container3 {
        flex-direction: row;
    }
}
