/* Koden er 100% selv skrevet men har brukt Chatgpt for å lære underveis dersom jeg har behøvd å lære noe spesifikt.
   Eksempel av bruk: Grid, hvordan legge elementer fra header/body/main/footer der de skal på riktig kolonne og riktig rekke.
   Ellers enn det er det små ting som hvordan organisere koden bedre (Ikke nødvendigvis bra svar) Eller hvordan erstatte divs med semantisk korrekte alternativer.*/
* {
    box-sizing: border-box;
}

html {
    font-size: calc(1em + 1vw);
}

a {
    text-decoration: none;
    color: #242424;
}

h2{
    text-align: center;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

header {
    padding: 1rem 0.5rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #817f7f60;
}

main {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
    font-size: small;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "Header" "Hoved" "Footer";
}



.logo-btn {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.top-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar{
    display: inline-block;
}

.hidden{
    display: none;
}

.prod-bilde-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shoe-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sbs-ikoner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#spacebtw{
    padding-left: 5px;
}

.shoesize_btn{
    display: flex;
    flex-direction: row;
    background-color: #242424;
    color: #fff;
    height: 50px;
    width: 50px;
    justify-content: center;
    line-height: 40px;
    border-radius: 10px;
}

.color-btn1, .color-btn2, .color-btn3, .color-btn4, .color-btn5, .color-btn6{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    justify-content: center;
    border-radius: 10px;
}

.color-btn1{
    background-color: #ff0000;
}

.color-btn2{
    background-color: #296ad2;
}

.color-btn3{
    background-color: #ff00ea;
}

.color-btn4{
    background-color: #00ff2a;
}

.color-btn5{
    background-color: #00eeff;
}

.color-btn6{
    background-color: #694adb;
}

.thumbnail-container{
    display: none;
}

.navbar {
    display: none;
}

.produkt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.produkt {
    display: inline-flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 1rem);
    text-align: center;
    margin: 0.5rem;
}

#desktop-produkt{
    display: none;
}

.flexbox-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.hdb-btn {
    background-color: #262626;
    color: #fff;
    min-width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    margin: 0.5rem;
    flex-grow: 1;
}

.kjøp-knapp{
    display: flex;
    background-color: #296ad2;
    color: #fff;
    min-width: 250px;
    height: 50px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    line-height: 50px;
    border-radius: 5px;
}

.flexbox-container2 {
    display: flex;
    justify-content: center;
}

.flexbox-container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.venstre-knapper, .høyre-knapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.kjente-merker-btn {
    background-color: #262626;
    color: #fff;
    min-width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    margin: 0.2rem;
    border-radius: 10px;
    flex-grow: 1;
}

@media only screen and (min-width: 600px) {

    .product {
        flex-basis: calc(50% - 1rem);
    }

    .hdb-btn {
        min-width: 300px;
        min-height: 100px;
        border-radius: 10px;
        line-height: 100px;
        flex-direction: row;
    }

    .flexbox-container1 {
        flex-direction: row;
    }

    .flexbox-container3 {
        flex-direction: row;
    }

    .kjente-merker-btn {
        min-width: 250px;
        min-height: 50px;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "Header Header Header" "Hoved Hoved Hoved" "Footer Footer Footer";
    }

    header {
        grid-column: 1 / span 4;
    }

    main {
        grid-column: 2 / span 1;
    }

    footer {
        grid-column: 2 / span 1;
    }

    #ham, .fa-magnifying-glass {
        display: none;
    }

    #mobilt-produkt{
        display: none;
    }

    #desktop-produkt{
        display: flex;
    }

    #search-bar{
        display: flex;
        align-items: center;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }

    #home-nav, #produkter-nav, #kassa-nav, #om-nav{
        color: #fff;
        background-color: #242424;
        border-radius: 5px;
        padding: 5px;
    }

    .thumbnail-container{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 5px 0 0 0;
    }

}
